
#header {
    background-color: ##FAEBD7 ;
}

#leftcol {
  background-color: #33ccff;
  height: 450px;
  padding: 0;
  margin: 0;
  overflow: 'hidden';
}

#rightcol {
  background-color: #ffffff;
  overflowY: 'auto';
  padding: 0;
  height: 450px;
  padding-bottom: '50px';
}

#bodyrow {
  height: 100%;
  margin-bottom: 0;
}


label {
    display: inline-block;
    max-width: 100%;
    float: left;
    margin-bottom: 5px
}


/*  LISTING TABLE  */
th.sort-column {
  background-color: #181818;
  color: white;
}
th.sort-column:hover {
  cursor: pointer;
  background-color:
}
td.react-bs-container-body {
  background-color: #0066ff;
}
.react-bs-table {
  margin: 0;
}



/* SLIDER -working-DON'T DELETE */
*,:after,:before{margin:0;padding:0;box-sizing:border-box}body{margin:0;padding:0;font-family:Helvetica,sans-serif;font-weight:400;font-size:14px;line-height:24px;color:#333}#mount{margin:20px auto 0;padding:40px;position:relative}#mount hr{height:1px;margin:40px 0;background:#ddd;border:none}#mount h1{margin:0 auto 20px;text-align:center;font-weight:400;font-size:24px}#mount h2{margin:0 0 20px;font-weight:600;font-size:20px}#mount p{margin-bottom:40px}#mount a{color:blue}#mount header{text-align:center}#mount section>div{text-align:center;font-size:20px;font-weight:700}#mount section>div .value{font-size:16px}#mount footer{margin:60px auto 40px}#mount footer p{margin:2px 0 0;text-align:center;font-size:12px}.rangeslider{margin:20px 0;position:relative;background:#e6e6e6}.rangeslider .rangeslider__fill,.rangeslider .rangeslider__handle{position:absolute}.rangeslider,.rangeslider .rangeslider__fill{display:block;box-shadow:inset 0 1px 3px rgba(0,0,0,.3)}.rangeslider .rangeslider__handle{background:#fff;border:1px solid #ccc;cursor:pointer;display:inline-block;position:absolute}.rangeslider .rangeslider__handle:active{background:#999}.rangeslider-horizontal{height:20px;border-radius:10px}.rangeslider-horizontal .rangeslider__fill{height:100%;background:#27ae60;border-radius:10px;top:0}.rangeslider-horizontal .rangeslider__handle{width:40px;height:40px;border-radius:40px;top:-10px}.rangeslider-vertical{margin:20px auto;height:150px;max-width:10px;background:none}.rangeslider-vertical .rangeslider__fill{width:50%;background:#27ae60;box-shadow:none;bottom:0}.rangeslider-vertical .rangeslider__handle{width:30px;height:10px;left:-10px}.rangeslider-vertical .rangeslider__handle:active{box-shadow:none}@media screen and (min-width:1200px){#mount{width:600px}}






/*************SLIDER *************/


.label,
sub,
sup {
    vertical-align: baseline
}

hr,
img {
    border: 0
}

body,
figure {
    margin: 0
}

.btn-group>.btn-group,
.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.dropdown-menu {
    float: left
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse,
.pre-scrollable {
    max-height: 340px
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

b,
optgroup,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    vertical-align: middle
}

svg:not(:root) {
    overflow: hidden
}

hr {
    box-sizing: content-box;
    height: 0
}

pre,
textarea {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

.glyphicon,
address {
    font-style: normal
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}


/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */









/* GEOSUGGEST */

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  margin: 1em auto;
  text-align: left;
}
.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest-item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest-item:hover,
.geosuggest-item:focus {
  background: #f5f5f5;
}
.geosuggest-item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest-item--active:hover,
.geosuggest-item--active:focus {
  background: #ccc;
}


