#header {
  /*background-color: #00bfff;*/
}

#leftcol {
  background-color: #33ccff;
  height: 450px;
  padding: 0;
  margin: 0;
  overflow: 'hidden';
}

#rightcol {
  background-color: #1ac6ff;
  overflowY: 'auto';
  padding: 0;
  height: 450px;
  padding-bottom: '50px';
}

#bodyrow {
  height: 100%;
  margin-bottom: 0;
}

/*  TITLE TREATMENT  */

h1.title {
  font-family: billabong, 'billabongregular';
  text-align: center;
  font-weight: 100;
  font-size: 13rem;
  /*margin: 2rem 0;*/
  letter-spacing: -1px;
  text-shadow: 0px 4px 0 rgba(18,86,136,0.11);
}
h1 a {
  color: #125688;
  text-decoration: none;
}
h1 a:focus {
  outline: 0;
}
@font-face {
  font-family: 'billabongregular';
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

/*  LISTING TABLE  */
th.sort-column {
  background-color: darkblue;
  color: white;
}

th.sort-column:hover {
  cursor: pointer;
  background-color:
}

td.react-bs-container-body {
  background-color: #0066ff;
}

.react-bs-table {
  margin: 0;
}
